# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.MetroidvaniaMonth.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vanya\Documents\UnityProjects\MetroidvaniaMonth\.idea\.idea.MetroidvaniaMonth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
